* {
    font-family: "Dosis";
    margin: 10px 25px;
}

/*Header*/



/*Sections*/
.sections {
    display: block;
    width: 100%;
    margin:auto;
}

.section {
    border: solid 2px;
    display: block;
    width: 100%;
    margin-left: 0;
}

h2 {
    margin: 20px 5px;

}

/*Color*/
.color {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2px;
    text-align: center;
}

.color div {
    margin: 15px 10px;
    width: 200px;
    padding: 20px 0;
}

#dark_grey {
    background-color: #6f6c6c;
}

#light_grey {
    background-color: #d2cfcf;
}

#dark_red {
    background-color: #963639;
}

#light_red {
    background-color: #c88989;
}

/*Font*/
.font {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.font div {
    width: 350px;
    margin: 20px 10px;;
}

.font p {
    margin: 20px 10px;;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.monospace {
    font-family: "monospace";
}

.verdana {
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
}


/*Text*/
.text {
    margin: 2px;
}

.part {
    margin: 20px 5px;
}

ul {
    margin: 0;
}

ul {

}